<html>
    <head>
        <title>News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/theme.css">
        <script src="/static/index.js"></script>
        <script>
window.onload = () => {
    const updates = document.getElementById('updates');
    {{ range $u := . }}
    updates.appendChild(createUpdate(JSON.parse({{ $u }})));
    {{ end }}
    connect(updates);
};
        </script>
    </head>
    <body>
        <div id="updates">
        </div>
    </body>
</html>
